@model CONSTRUCTION.Models.HomeViewModel
@{
        ViewBag.Title = "Home Page";
}
<style>
        .footer_section {
                padding: 8.5rem 0 3rem !important;
        }
        .h-60 {
            height:60px;
        }
</style>
<!-- Slider Section -->
<section class="slider-section">
        <div class="container">
                <div class="row">
                        <div class="col-7 col-sm-12">
                                <div class="inner-content">
                                        <h1>Getting you closer to your career aspirations!</h1>
                                        <p>Follow your passion, believe in yourself and embark on an extraordinary career journey!</p>
                                        <div class="serch-form">
                                                <form class="form-inline">
                                                        <div class="form-group col-7 autocomplete">
                                                                <input type="text" id="txt_Title" name="country" class="form-control job-search" autocomplete="off" placeholder="Search by job title (Ex. Resident Medical Officer/RMO)" />
                                                                <!-- <input type="text" class="" placeholder="" /> -->
                                                        </div>
                                                        <div class="form-group col-4 autocomplete">
                                                                <input type="text" id="txt_location" class="form-control location" autocomplete="off" placeholder="Location" />
                                                        </div>
                                                        <div class="form-group col-1">
                                                                <button type="button" id="searchLocation" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                                        </div>
                                                </form>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>

<!-- Technology Stack -->
<section class="tech_stack pt-3 pb-3 sky_light">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="section-header text-center">
                                        <h2>Browse By Technology</h2>
                                        <p>Are you looking to build your career in a particular technology? If yes, explore the job offerings listed below as per the technology you have specialized in. Get a chance to advance your learning in the technology of your choice!</p>
                                </div>
                        </div>
                </div>
                <div class="row mt-2">
                        <div class="col-12">
                                <div class="list-tech">
                                        <ul>
                                                @foreach (var item in Model.technologyMasterViewModels)
                                                {
                                                        <li data-aos="zoom-in" data-aos-duration="1000">
                                                                <a href="@Url.Action("TechnoloGyWiseJob","Jobs",new { slugURL = item.Slug})">
                                                                        <aside><img src="~/CommonImage/Technology/@item.Image" class="lazyload h-60" alt="@item.Name" /></aside>
                                                                        <h3 title="@item.Name">@item.Name</h3>
                                                                </a>
                                                        </li>
                                                }
                                        </ul>
                                </div>
                                <div class="read-btn text-center mt-2">
                                        <a href="#">Your chance to reach the heights of success!  </a>
                                </div>
                        </div>
                </div>
        </div>
</section>

<!-- explore -->
<section class="explore">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-6 col-sm-12">
                                <div class="bg-img"></div>
                        </div>
                        <div class="col-6 col-sm-12">
                                <div class="inner-box">
                                        <div class="section-header text-center">
                                                <h2>Explore Opportunities</h2>
                                        </div>
                                        <div class="content text-center">
                                                <p>Want to upgrade your career? Step in a new world of technology? Find a thriving opportunity? Work in a fast-paced setup? We have some of the best opportunities to help you climb up the success ladder! We have opportunities for all, starting from beginners to experienced experts! Here you go:  </p>
                                                <div class="round">
                                                        <div class="media bg1" data-aos="zoom-in" data-aos-duration="1000">
                                                                <aside><img src="~/images/icons/e1.png" /></aside>
                                                                <div class="media-body">
                                                                        <h3>Graduates</h3>
                                                                </div>
                                                        </div>
                                                        <div class="media bg2" data-aos="zoom-in" data-aos-duration="1200">
                                                                <aside><img src="~/images/icons/e2.png" /></aside>
                                                                <div class="media-body">
                                                                        <h3>Professionals</h3>
                                                                </div>
                                                        </div>
                                                        <div class="media bg3" data-aos="zoom-in" data-aos-duration="1400">
                                                                <aside><img src="~/images/icons/e3.png" /></aside>
                                                                <div class="media-body">
                                                                        <h3>Students / Internships</h3>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>

<!-- why aegis -->
<section class="why_aegis pt-3 pb-3 titan">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="section-header text-center">
                                        <h2>Why Aegis?</h2>
                                        <p>At Aegis, we ensure that you never stand still on your journey. We empower you to bring out the best in you by offering challenging and fruitful job opportunities. Aegis is the place for the world-class talent to find more ways to move ahead in their career. We have something for almost everyone and we keep adding more positions for the budding tech-talent. </p>
                                </div>
                        </div>
                </div>
                <!--  -->
                <div class="row mt-2">
                        <div class="col-12">
                                <div class="owl-slider">
                                        <div id="solutions-box" class="owl-carousel owl-theme">
                                                <div class="item">
                                                        <div class="inner-box">
                                                                <div class="img-box">
                                                                        <img src="~/images/thumb/why-aegis/1.jpg" class="lazyload" />
                                                                </div>
                                                                <div class="overlay">
                                                                        <h4>Who We are?</h4>
                                                                        <p>Aegis is a game-changing recruitment platform meant for the bright minds who want to find the right opportunity for career upliftment. We hustle continuously to drive our mission. </p>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="item">
                                                        <div class="inner-box">
                                                                <div class="img-box">
                                                                        <img src="~/images/thumb/why-aegis/2.jpg" class="lazyload" />
                                                                </div>
                                                                <div class="overlay">
                                                                        <h4>Inclusion And Diversity </h4>
                                                                        <p>Aegis believes in providing equal opportunities to everyone. All the employees in our company collaborate effectively to achieve the business goals. </p>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="item">
                                                        <div class="inner-box">
                                                                <div class="img-box">
                                                                        <img src="~/images/thumb/why-aegis/3.jpg" class="lazyload" />
                                                                </div>
                                                                <div class="overlay">
                                                                        <h4>Benefits </h4>
                                                                        <p>Aegis cares for the people, be it our employees or customers. We aim to create exceptional experiences for the jobseekers. </p>
                                                                </div>
                                                        </div>
                                                </div>                                                
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>

<!-- job skill -->
<section class="why_aegis pt-3 pb-3 titan">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="section-header text-center">
                                        <h2>Find Jobs by Skill </h2>
                                        <p>What’s your passion? Is it Python, Java, Artificial Intelligence or something else? Whatever it is, we’ve got your back! Find the right opportunity that aligns with your professional goals from the listings below.</p>
                                </div>
                        </div>
                </div>
                <div class="row mt-2">
                        <div class="col-12">
                                <div class="list-skill">
                                        <ul>
                                                @foreach (var item in Model.skillMasterViewModels)
                                                {
                                                        <li><a href="JavaScript:;">@item.Name</a></li>
                                                }
                                        </ul>
                                </div>
                        </div>
                </div>
                <div class="row mt-2">
                        <div class="col-12">
                                <div class="read-btn text-center">
                                        <a href="#">Can’t find what you’re looking for? We’ve more. Click Here! </a>
                                </div>
                        </div>
                </div>
        </div>
</section>

<!-- job list -->
<section class="joblist_section pt-3 pb-3 titan">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="section-header text-center">
                                        <h2>Grab An Exciting Job Opportunity</h2>
                                        <p>Discover a job that allows you to learn more and step up. Rise and shine with a new job opportunity that takes you one step closer to your dream! </p>
                                </div>
                        </div>
                </div>
                <div class="row mt-2">
                        @Html.Action("JobDetails", "Home")
                </div>
        </div>
</section>

<!-- account box -->
<section class="account_section pt-2 pb-3 titan">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="inner-box">
                                        <h3>Join our Talent Network <span class="d-block">to start your career with us.</span></h3>
                                        <div class="read-btn">
                                                <a href="JavaScript:;">Join Now</a>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>

<!-- job form -->
<section class="form_section">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="job-req row">
                                        <div class="col-6 col-sm-12">
                                                <div class="talk">
                                                        <h2>Need guidance? Talk to our career experts! </h2>
                                                        <p>Aegis consists of a passionate group of individuals who want to make a difference in the world by empowering talented candidates get the right career opportunity. Feel free to contact us to get guidance on your way forward!</p>
                                                        
                                                        <div class="read-btn"><a href="#" class="send-msg">Let’s Talk</a></div>
                                                </div>
                                        </div>
                                        <div class="col-6 col-sm-12">
                                                <div class="form-fill" id="ContectUsDiv">
                                                        <form>
                                                                <div class="form-group" style="margin-bottom:24px;">
                                                                        <input type="text" class="form-control name" placeholder="Name" id="name" style="margin-bottom:0px;">
                                                                        <label id="label_error_name" class="errorMessage" style="display:none;">Name is required</label>
                                                                </div>
                                                                <div class="form-group" style="margin-bottom:24px;">
                                                                        <input type="email" class="form-control email" placeholder="Email Id" id="email" style="margin-bottom:0px;">
                                                                        <label id="label_error_Email" class="errorMessage" style="display:none;">Email Id is required</label>
                                                                        <label id="label_error_EmailFormat" class="errorMessage" style="display:none;">Email Id is not Valid</label>
                                                                </div>
                                                                <div class="form-group" style="margin-bottom:24px;">
                                                                        <input type="text" class="form-control phone" placeholder="Phone Number" id="mobile" style="margin-bottom:0px;">
                                                                        <label id="label_error_PN" class="errorMessage" style="display:none;">Phone Number is required</label>
                                                                        <label id="label_error_PNFormat" class="errorMessage" style="display:none;">Phone Number is not Valid</label>
                                                                </div>
                                                                <div class="form-group">
                                                                        <textarea class="form-control project" placeholder="Describe your project" rows="3" id="description"></textarea>
                                                                </div>
                                                                <div class="read-btn">
                                                                        <a id="submitData" class="send-msg">Submit</a>
                                                                </div>
                                                        </form>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section><!-- #  -->


<script>
        $(document).ready(function () {
       

                bindAutoComplete();
        });

        function bindAutoComplete() {
                $.ajax({
                type: "POST",
                url: '@Url.Action("BindAutoComplete", "Home")',
                        success: function (result) {
                                var availableCity = result.Item1;
                                var availableTitle = result.Item2;
                                autocomplete(document.getElementById("txt_location"), availableCity);
                                autocomplete(document.getElementById("txt_Title"), availableTitle);
                }
            });
        }

    $("#searchLocation").click(function () {
                var jobSearch = $(".job-search").val();
                jobSearch = jobSearch.replace('.', '');
                var city = $(".location").val();
                city = city.replace('.', '');
                if (jobSearch.trim() == "" && city.trim() == "") {
                        window.location.href = '@Url.Action("Index", "jobs")';
                }
                if (jobSearch.trim() == "" && city.trim() != "") {
                        var searchKey = 'Jobs-in-' + city.replace(' ', '-');
                        window.location.href = '/job/' + searchKey + '?l=' + city;
                }
                if (jobSearch.trim() != "" && city.trim() == "") {
                        var searchKey = jobSearch.replace(' ', '-')+'-Jobs' ;
                        window.location.href = '/job/' + searchKey + '?q=' + jobSearch;
                }
                if (jobSearch.trim() != "" && city.trim() != "") {
                        var searchKey = jobSearch.replace(' ', '-') + '-Jobs-in-' + city.replace(' ', '-');
                        window.location.href = '/job/' + searchKey +'?l=' + city + '&q=' + jobSearch;
                }
        });

    $("#ContectUsDiv").on("click", "#submitData", function () {
        var name = $("#ContectUsDiv").find("#name").val();
        var email = $("#ContectUsDiv").find("#email").val();
        var mobile = $("#ContectUsDiv").find("#mobile").val();
        var description = $("#ContectUsDiv").find("#description").val();

        var IsError = false;

        if (name == null || name == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_name").show();
        }

        if (email == null || email == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_Email").show();
        } else if (!EmailValidation(email)) {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_EmailFormat").show();
        }

        if (mobile == null || mobile == "") {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_PN").show();
        } else if (!PhoneNumberValidation(mobile)) {
            IsError = true;
            $("#ContectUsDiv").find("#label_error_PNFormat").show();
        }

        if (IsError == true) {
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveContectData", "Home")',
                data: {
                    Name: name,
                    Email: email,
                    Mobile: mobile,
                    Description: description
                },
                success: function (result) {
                        if (result == "Success") {
                                $("#ContectUsDiv").find("#name").val("");
                                $("#ContectUsDiv").find("#email").val("");
                                $("#ContectUsDiv").find("#mobile").val("");
                                $("#ContectUsDiv").find("#description").val("");

                                $("#alert_inquiry_success").html("Inquiry genrated successfully");
                                $("#alert_inquiry_success").show();
                                setTimeout(function () { $("#alert_inquiry_success").hide(); }, 2000);
                        }
                        else {
                                $("#ContectUsDiv").find("#name").val("");
                                $("#ContectUsDiv").find("#email").val("");
                                $("#ContectUsDiv").find("#mobile").val("");
                                $("#ContectUsDiv").find("#description").val("");

                                $("#alert_inquiry_error").html("Error, Please try again after some time.");
                                $("#alert_inquiry_error").show();
                                $(".closeInquiry").click();
                                setTimeout(function () { $("#alert_inquiry_error").hide(); }, 2000);
                        }
                }
            });
        }
    });
</script>