@model CONSTRUCTION.Models.ApplyJobViewModel
@{
    ViewBag.Title = "Index";
}

<!-- heading section -->
<section class="heading pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header text-center">
                    <h1>@Model.Job</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- aooly form -->
<section class="apply_form pt-3 pb-3 titan">
    <div class="container">
        <div class="row top-bar">
            <div class="col-6 col-sm-12">
                <div class="left-side">
                    @if (Model.Job != null && Model.Job != "")
                    {
                        <p>Apply for “@Model.Job”</p>
                    }
                </div>
            </div>
            <div class="col-6 col-sm-12">
                <div class="back-link">
                    @if (!string.IsNullOrEmpty(Model.URL) && Model.URL != "")
                    {
                        <p><a href="@Model.URL"><i class="fa fa-angle-left"></i>   Back to Results</a></p>
                    }
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="fill-data">
                    <div class="fild-info">
                        <p>Please tell us how we can get in touch with you and your friend.</p>
                        <p><span class="red">*</span> indicates a required field.</p>
                    </div>
                    <form method="post" class="">
                        <div class="row info">
                            <div class="col-12">
                                <div class="title-heding">
                                    <h2>Enter Your Information</h2>
                                </div>
                            </div>
                            <input type="hidden" id="jobId" value="@Model.JobId" />
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Full Name" id="fullName">
                                    <label id="label_error_FN" class="errorMessage" style="display:none;">Your Full Name is required</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <input type="date" class="form-control" placeholder="DOB" id="DOB">
                                    <i class="fa fa-calendar calendar-1"></i>
                                    <label id="label_error_DOB" class="errorMessage" style="display:none;">DOB is required</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12">
                                <div class="form-group join">
                                    <p>Gender</p>
                                    <div class="bd-example">
                                        <div class="form-check form-check-inline">
                                            <label class="gender">
                                                Male
                                                <input type="radio" checked="checked" class="male" name="gender" value="Male" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="gender">
                                                Female
                                                <input type="radio" name="gender" class="female" value="Female" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <label id="label_error_Gender" class="errorMessage" style="display:none;">Gender is required</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email ID" id="email">
                                    <label id="label_error_Email" class="errorMessage" style="display:none;">Email is required</label>
                                    <label id="label_error_EmailFormat" class="errorMessage" style="display:none;">Email is not Valid</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone Number" id="mobile" maxlength="10" onkeypress = "return event.charCode >= 48 && event.charCode <= 57">
                                    <label id="label_error_PN" class="errorMessage" style="display:none;">Phone Number is required</label>
                                    <label id="label_error_PNFormat" class="errorMessage" style="display:none;">Phone Number is not Valid</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone Number" id="mobile1" maxlength="10" onkeypress = "return event.charCode >= 48 && event.charCode <= 57">
                                    <label id="label_error_PNFormat2" class="errorMessage" style="display:none;">Phone Number is not Valid</label>
                                </div>
                            </div>
                        </div>
                        <div class="row address mt-2">
                            <div class="col-12">
                                <div class="title-heding">
                                    <h2>Address</h2>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <div class="select-box">
                                        <select class="form-control" id="addressType">
                                            <option value="0">Address Type</option>
                                            <option value="Home">Home</option>
                                            <option value="Business">Business</option>
                                        </select>
                                    </div>
                                    <label id="label_error_addressType" class="errorMessage" style="display:none;">Address Type is required</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Block no. / Flat no. / House name" id="fNo">
                                    <label id="label_error_FNo" class="errorMessage" style="display:none;">Block no. / Flat no. / House name is required</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Street / Landmark / Area" id="area">
                                    <label id="label_error_area" class="errorMessage" style="display:none;">Street / Landmark / Area is required</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="City" id="city">
                                    <label id="label_error_city" class="errorMessage" style="display:none;">City is required</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <div class="select-box">
                                        <select class="form-control country">
                                            @foreach (var item in Model.drpCountry)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                    <label id="label_error_Country" class="errorMessage" style="display:none;">Country is required</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <div class="select-box">
                                        <select class="form-control state">
                                            <option value="0">State</option>
                                        </select>
                                    </div>
                                    <label id="label_error_State" class="errorMessage" style="display:none;">State is required</label>
                                </div>
                            </div>
                        </div>
                        <div class="row edu mt-2">
                            <div class="col-12">
                                <div class="title-heding">
                                    <h2>Education</h2>
                                </div>
                            </div>
                            <div id="educationDiv" class="col-12">
                                @Html.Action("EducationData", "ApplyJob")
                            </div>
                            <div class="col-12">
                                <div class="add-new-row"><a id="addEducation">&#43; Add More</a></div>
                            </div>
                        </div>
                        <div class="row experience mt-2">
                            <div class="col-12">
                                <div class="title-heding">
                                    <h2>Work Experience</h2>
                                </div>
                            </div>
                            <div id="experienceDiv">
                                @Html.Action("ExperienceData", "ApplyJob")
                            </div>
                            <div class="col-12">
                                <div class="add-new-row"><a id="addExperience">&#43; Add More</a></div>
                            </div>
                        </div>
                        <div class="row mt-3 upload-doc">
                            <div class="col-7 col-sm-12">
                                <div class="fill-upload">
                                    <input id="file-upload" type="file" name="fileUpload" accept=".pdf,.doc, .docx,.rtf" />
                                    <label for="file-upload" id="file-drag">
                                        <img id="file-image" src="#" alt="Preview" class="hidden" />
                                        <div id="start">
                                            <div class="border">
                                                <h3>UPLOAD RESUME</h3>
                                                <p>Supported Formats: doc, docx, rtf, pdf, upto 2 MB</p>
                                                <div id="notimage" class="hidden">Please select an image</div>
                                            </div>
                                        </div>
                                    </label>
                                    <label id="filename"></label>
                                    <label id="label_error_FileSize" class="errorMessage" style="display:none;">RESUME is not less then 2 mb.</label>
                                    <label id="label_error_FileFormat" class="errorMessage" style="display:none;">RESUME should be doc, docx, rtf, pdf.</label>
                                    <label id="label_error_File" class="errorMessage" style="display: none;">RESUME is required</label>
                                </div>
                                <input id="hiddenFilename" type="hidden" value="" />
                            </div>
                        </div>
                        <div class="row pt-3 submit-box">
                            <div class="col-5 col-sm-12 text-center">
                                <div class="send-btn">
                                    <a class="send_btn">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $("#file-upload").change(function (e) {
        var files = e.target.files;
        var imageData = "";
        if (files.length > 0) {
            $("#label_error_File").hide();
            if ((files[0].size / 1024) <= 2000) {
                $("#label_error_FileSize").hide();
                var ext = files[0].name.substr((files[0].name.lastIndexOf('.') + 1));
                if (ext == 'doc' || ext == 'docx' || ext == 'rtf' || ext == 'pdf') {
                    $("#label_error_FileFormat").hide();
                    if (window.FormData !== undefined) {
                        imageData = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            imageData.append("file" + x, files[x]);
                        }
                        setTimeout(function () {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("FileUplaod", "ApplyJob")',
                                contentType: false,
                                processData: false,
                                data: imageData,
                                success: function (result) {
                                    $("#hiddenFilename").val(result);
                                    var Pic = "/CommonImage/Resume/" + result;
                                    $("#file-image").attr('src', Pic);
                                    $("#filename").text(files[0].name);
                                }
                            });
                        }, 500);
                    }
                } else {
                    $("#filename").text("");
                    $("#hiddenFilename").val("");
                    $("#label_error_FileFormat").show();
                }
            } else {
                $("#filename").text("");
                $("#hiddenFilename").val("");
                $("#label_error_FileSize").show();
            }
        }
        else {
            $("#filename").text("");
            $("#hiddenFilename").val("");
            $("#label_error_File").show();
        }
    });

    $("#addEducation").click(function () {
        $.ajax({
            url: '@Url.Action("EducationData", "ApplyJob")',
            success: function (result) {
                $("#educationDiv").append(result);
            }
        });
    });

    $("#addExperience").click(function () {
        $.ajax({
            url: '@Url.Action("ExperienceData", "ApplyJob")',
            success: function (result) {
                $("#experienceDiv").append(result);
            }
        });
    });

    $("#experienceDiv").on("change", ".drpCountry", function () {
        var country = $(this).val();
        var parent = $(this).parent().parent().parent().parent();
        $.ajax({
            type:'GET',
            url: '@Url.Action("GetStateByCountry", "ApplyJob")',
            data: {
                Country: country
            },
            success: function (result) {
                var option = "";
                $.each(result, function () {
                    option = option + '<option value="' + this.Value + '">' + this.Text + '</option>';
                });
                parent.find('#drpState').html("");
                parent.find('#drpState').html(option);
            }
        });
    });

    $(".country").change(function () {
        var country = $(this).val();
        $.ajax({
            type:'GET',
            url: '@Url.Action("GetStateByCountry", "ApplyJob")',
            data: {
                Country: country
            },
            success: function (result) {
                var option = "";
                $.each(result, function () {
                    option = option + '<option value="' + this.Value + '">' + this.Text + '</option>';
                });
                $('.state').html("");
                $('.state').html(option);
            }
        });
    });

    $(".send_btn").click(function () {
        var jobId = $("#jobId").val();
        var name = $("#fullName").val();
        var dob = $("#DOB").val();
        var gender = $('input[name="gender"]:checked').val();
        var email = $("#email").val();
        var mobile = $("#mobile").val();
        var mobile1 = $("#mobile1").val();
        var addressType = $("#addressType").val();
        var fno = $("#fNo").val();
        var area = $("#area").val();
        var city = $("#city").val();
        var country = $(".country").val();
        var state = $(".state").val();
        var file = $("#hiddenFilename").val();
        var IsError = false;

        var assignEducation = [];
        $.each($("#educationDiv").find(".educationDatas"), function () {
            var value = parseInt($(this).find("#degree").val());
            var year = parseInt($(this).find("#year").val());
            if (year < 0) {
                parseInt($(this).find("#label_error_Year").show());
                IsError = true;
            }
            if (value > 0) {
                var details = {
                    DegreeId: parseInt($(this).find("#degree").val()),
                    Collage: $(this).find("#collage").val(),
                    PassingYear: parseInt($(this).find("#year").val())
                }
                assignEducation.push(details);
            }
        });

        var assignExperience = [];
        $.each($("#experienceDiv").find(".experienceDatas"), function () {
            var value = $(this).find("#employer").val();
            var year = parseInt($(this).find("#activeYear").val());
            if (year < 0) {
                parseInt($(this).find("#label_error_activeYear").show());
                IsError = true;
            }
            if (value != null && value != "") {
                var details = {
                    Employer: $(this).find("#employer").val(),
                    JobTitle: $(this).find("#title").val(),
                    ActiveYear: parseInt($(this).find("#activeYear").val()),
                    City: $(this).find("#city").val(),
                    Country: parseInt($(this).find(".drpCountry").val()),
                    State: parseInt($(this).find("#drpState").val())
                }
                assignExperience.push(details);
            }
        });

        if (name == null || name == "") {
            IsError = true;
            $("#label_error_FN").show();
        }

        if (dob == null || dob == "") {
            IsError = true;
            $("#label_error_DOB").show();
        }

        if (gender == null || gender == "") {
            IsError = true;
            $("#label_error_Gender").show();
        }

        if (email == null || email == "") {
            IsError = true;
            $("#label_error_Email").show();
        }
        if (!EmailValidation(email)) {
            IsError = true;
            $("#label_error_EmailFormat").show();
        }

        if (mobile == null || mobile == "") {
            IsError = true;
            $("#label_error_PN").show();
        } else if (!PhoneNumberValidation(mobile)) {
            IsError = true;
            $("#label_error_PNFormat").show();
        }
        if (mobile1 != null || mobile1 != "") {
            if (!PhoneNumberValidation(mobile1)) {
                IsError = true;
                $("#label_error_PNFormat2").show();
            }
        }

        if (addressType == null || addressType == "0") {
            IsError = true;
            $("#label_error_addressType").show();
        }

        if (fno == null || fno == "") {
            IsError = true;
            $("#label_error_FNo").show();
        }

        if (area == null || area == "") {
            IsError = true;
            $("#label_error_area").show();
        }

        if (city == null || city == "") {
            IsError = true;
            $("#label_error_city").show();
        }

        if (country == null || country == "0") {
            IsError = true;
            $("#label_error_Country").show();
        }

        if (state == null || state == "0") {
            IsError = true;
            $("#label_error_State").show();
        }

        if (file == null || file == "") {
            IsError = true;
            $("#label_error_File").show();
        }

        if (IsError == true) {
            return false;
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveData", "ApplyJob")',
                data: {
                    Name: name,
                    DOB: dob,
                    Gender: gender,
                    Email: email,
                    PhoneNo1: mobile,
                    PhoneNo2: mobile1,
                    AddressType: addressType,
                    BlockNo: fno,
                    Street: area,
                    City: city,
                    CountryId: country,
                    StateId: state,
                    JobId: jobId,
                    jsonEducation: JSON.stringify(assignEducation),
                    jsonExperience: JSON.stringify(assignExperience),
                    Resume: file
                },
                success: function (result) {
                    if (result == "Success") {
                        $("#alert_inquiry_success").html("Apply job successfully");
                        $("#alert_inquiry_success").show();
                        setTimeout(function () {
                            $("#alert_inquiry_success").hide();
                            window.location.href = '@Url.Action("Index", "jobs")';
                        }, 2000);
                    }
                }
            });
        }
    });
</script>