@model CONSTRUCTION.Areas.Admin.Model.TechnologyMasterViewModel

<input type="hidden" id="txt_Id" value="@Model.Id" />
<div class="row formGroup">
    <div class="col-sm-4">
        <label>City</label>
        <input type="text" id="txt_city" value="" placeholder="Focus Keyphrase" class="form-control" />
    </div>
    <div class="col-sm-4">
        <label>Focus Keyphrase</label>
        <input type="text" id="txt_FKeyphrase" value="@Model.FocusKeyphrase" placeholder="Focus Keyphrase" class="form-control" />
    </div>
    <div class="col-sm-4">
        <label>SEO title</label>
        <input type="text" id="txt_Seotitle" value="@Model.SEOtitle" placeholder="SEO title" class="form-control" />
    </div>
</div>
<div class="row formGroup">
    <div class="col-sm-4">
        <label>Slug</label>
        <input type="text" id="txt_Slug" value="@Model.Slug" placeholder="Slug" class="form-control" />
    </div>
    <div class="col-sm-4">
        <label>IsCrawl</label>
        @if (Model.IsCrawl)
        {
            <input type="checkbox" id="chk_Crawl" name="IsCrawl" class="form-control" checked="checked" />
        }
        else
        {
            <input type="checkbox" id="chk_Crawl" name="IsCrawl" class="form-control" />
        }
    </div>
    <div class="col-sm-4">
        <label>Canonical URL</label>
        <input type="text" id="txt_URL" value="@Model.CanonicalURL" placeholder="Canonical URL" class="form-control" />
    </div>

</div>
<div class="row formGroup">
    <div class="col-sm-4">
        <label>Schema Tags</label>
        <input type="text" id="txt_Tags" value="@Model.SchemaTags" placeholder="Schema Tags" class="form-control" />
    </div>
    <div class="col-sm-8">
        <label>Meta Description</label>
        <textarea id="txt_description" placeholder="Meta Description" class="form-control">@Model.MetaDescription</textarea>
    </div>
</div>
<div class="mb-20 mt-10 float-right">
    <button type="button" class="btn btn-primary btn_save">Save</button>
    <button type="button" class="btn btn-default btn_Close" data-dismiss="modal">Close</button>
</div>
<div class="table">
    <table class="t-body" id="myTable">
        <thead>
            <tr>
                <th>City</th>
                <th>FocusKeyphrase</th>
                <th>SEOtitle</th>
                <th>Slug</th>
                <th>IsCrawl</th>
                <th>CanonicalURL</th>
                <th>SchemaTags</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr>
            <td>Mehsana</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Mehsana</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Mehsana</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
    </table>
</div>
