@model List<CONSTRUCTION.Areas.Admin.Model.JobDetailsViewModel>

<table id="tblJobDetails">
        <thead>
                <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Logo</th>
                        @*<th>Category</th>
                                <th>Sub Category</th>
                                    <th>Profession</th>*@
                        <th>Country</th>
                        <th>City</th>
                        <th>Location</th>
                        <th>IsVerified</th>
                        <th></th>
                </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                        <tr>
                                <td>@item.Title</td>
                                <td>@item.CompanyName</td>
                                <td><img src="~/CommonImage/CompanyLogo/@item.CompanyLogo" style="height:50px;width:50px;" /></td>
                                @*<td>@item.CategoryName</td>
                                        <td>@item.SubCategoryName</td>
                                        <td>@item.Profession</td>*@
                                <td>@item.CountryName</td>
                                <td>@item.CityName</td>
                                <td>@item.Location</td>
                                <td>@item.IsVerified</td>
                                <td class="light-gray text-right d-flex align-items-center">
                                    @if (item.isactive == true)
                                    {
                                        <i class="fa fa-ban fa-ban-css red Deactive" data-id="@item.Id" title="De-Active"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-check-square fa-check-css green Active" data-id="@item.Id" title="Active"></i>
                                    }
                                    <i class="editRow fa fa-pencil creamy ml-2 pr-2" aria-hidden="true" data-id="@item.Id" data-toggle="modal" data-target="#addJobDetail"></i>
                                </td>
                        </tr>
                }
        </tbody>
</table>

