<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/adminAssets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/adminAssets/css/style.css">
    <link rel="stylesheet" href="~/adminAssets/css/developer.css">
    <link rel="stylesheet" href="~/adminAssets/css/aos.css">



    <script type="text/javascript" src="~/adminAssets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/adminAssets/js/popper.min.js"></script>
    <script type="text/javascript" src="~/adminAssets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/adminAssets/js/aos.js"></script>
    <script type="text/javascript" src="~/adminAssets/js/custome.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    @RenderSection("scripts", required: false)

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <style>
        #preloader {
            background: #ffffffa1 url('../../../../images/bx_loader.gif') no-repeat scroll center center;
            min-height: 50px;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99999;
        }
        .errorMessageBorder {
            border-color: red !important;
        }

        .fixedPosition {
            position: fixed !important;
            top: 15px;
            right: 30px;
            z-index: 9999;
        }

        .alert-success {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }

        .alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }

        .alert {
            position: relative;
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }

            .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;
                    float:right;
                    margin-left:5px;
            }

                    .switch input {
                            opacity: 0;
                            width: 0;
                            height: 0;
                    }

            .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;
            }

                    .slider:before {
                            position: absolute;
                            content: "";
                            height: 26px;
                            width: 26px;
                            left: 4px;
                            bottom: 4px;
                            background-color: white;
                            -webkit-transition: .4s;
                            transition: .4s;
                    }

            input:checked + .slider {
                    background-color: #5C2F91;
            }

            input:focus + .slider {
                    box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
                    border-radius: 34px;
            }

                    .slider.round:before {
                            border-radius: 50%;
                    }
    </style>
    <script>
        $(document).ready(function () {
            $(".back-btn").click(function () {
                $(".col1").css('width', '55px');
                $(".col2").css('width', 'calc(100vw - 55px)');
                $(".left-side").css('width', '55px');
                $(".back-btn").hide();
                $(".back-btn1").show();
                $('.accordion1').addClass('hidden');
                $('.panel1').hide();

            });

            $(".back-btn1").click(function () {
                $(".col1").css('width', '220px');
                $(".col2").css('width', 'calc(100vw - 220px)');
                $(".left-side").css('width', '220px');
                $(".back-btn1").hide();
                $(".back-btn").show();
                $('.accordion1').removeClass('hidden');
                $('.panel1').show();

            });
        });
        
    </script>
</head>
<body>
    <div class="nav-section1">
        <div class="">
            <div class="dash-nav">
                <div><a class="navbar-brand" href="index.html"><div class="nav-flex">@*<img src="images/logo-icon-w.png" class="pr-3 img-fluid" alt="image">*@ Aegis Recrutians</div></a></div>
                <div class="dropdown">
                    <button class="nav-prof-btn1" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        @*<img src="images/user-pro.jpg" class="prof-img img-fluid" alt="image">*@ Admin <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="@Url.Action("LogOff","Login")">Sign Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="preloader" style="display:none;"></div>
    <div class="dashboard">
        <div class="">
            <div class="dashboard-flex">
                <div class="col1">
                    <div class="left-side">
                        <div class="back-btn"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                        <div class="back-btn1"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                        <div class="dashboard-head"><a href="@Url.Action("Index","Dashboard")" title="Dashboard"><i class="fa fa-th-large d-gray" aria-hidden="true"></i> Dashboard</a></div>
                        <div class="accordion_box1">
                            <a href="@Url.Action("Index","TechnologyMaster")" title="Technology">
                                <div class="accordion1">
                                    <span class="dash-menu-item2">
                                        <i class="fa fa-bars" aria-hidden="true"></i> Technology
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Index","ContentMaster")" title="Content">
                                <div class="accordion1">
                                    <span class="dash-menu-item2">
                                        <i class="fa fa-bars" aria-hidden="true"></i> Content
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Index","AppliedJobs")" title="Applied Jobs">
                                <div class="accordion1">
                                    <span class="dash-menu-item2">
                                        <i class="fa fa-bars" aria-hidden="true"></i> Applied Jobs
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("JobDetail","JobDetails")" title="Job Detail">
                                <div class="accordion1">
                                    <span class="dash-menu-item2">
                                        <i class="fa fa-bars" aria-hidden="true"></i> Job Detail
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("JobEducation","JobEducation")" title="Education">
                                <div class="accordion1">
                                    <span class="dash-menu-item2">
                                        <i class="fa fa-bars" aria-hidden="true"></i> Education
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("JobQualification","JobQualification")" title="Qualification">
                                <div class="accordion1">
                                    <span class="dash-menu-item2">
                                        <i class="fa fa-bars" aria-hidden="true"></i> Qualification
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Index","SkillMaster")" title="Skill">
                                <div class="accordion1">
                                    <span class="dash-menu-item2">
                                        <i class="fa fa-bars" aria-hidden="true"></i> Skill
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Index","ReferDetails")" title="Refer">
                                <div class="accordion1">
                                    <span class="dash-menu-item2">
                                        <i class="fa fa-bars" aria-hidden="true"></i> Refer
                                    </span>
                                </div>
                            </a>
                            @*<div class="panel1">
            <div class="panel1-list">
                <div class="dash-menu-list1"><i class="fa fa-angle-right" aria-hidden="true"></i> Category</div>
                <div class="dash-menu-list1"><i class="fa fa-angle-right" aria-hidden="true"></i> Job Qualifications</div>
                <div class="dash-menu-list1"><i class="fa fa-angle-right" aria-hidden="true"></i> Profession</div>
                <div class="dash-menu-list1"><i class="fa fa-angle-right" aria-hidden="true"></i> Job Type</div>
                <div class="dash-menu-list1"><i class="fa fa-angle-right" aria-hidden="true"></i> Country</div>
                <div class="dash-menu-list1"><i class="fa fa-angle-right" aria-hidden="true"></i> Experience</div>
                <div class="dash-menu-list1"><i class="fa fa-angle-right" aria-hidden="true"></i> City</div>
            </div>
        </div>

        <div class="accordion1">
            <span class="dash-menu-item2"><i class="fa fa-suitcase" aria-hidden="true"></i> Job Post</span>
        </div>
        <div class="panel1">
            <div class="panel1-list">
                <div class="dash-menu-list1"><i class="fa fa-angle-right" aria-hidden="true"></i> Item 1 </div>
                <div class="dash-menu-list1"><i class="fa fa-angle-right" aria-hidden="true"></i> Item 1 </div>
            </div>
        </div>

        <div class="accordion1">
            <span class="dash-menu-item2"><i class="fa fa-user ppl-2" aria-hidden="true"></i> User</span>
        </div>
        <div class="panel1">
            <div class="panel1-list">
                <div class="dash-menu-list1"><i class="fa fa-angle-right" aria-hidden="true"></i> Item 1 </div>
                <div class="dash-menu-list1"><i class="fa fa-angle-right" aria-hidden="true"></i> Item 1 </div>
            </div>
        </div>

        <div class="accordion1">
            <span class="dash-menu-item2"><i class="fa fa-users pmin-2" aria-hidden="true"></i> Job Seeker</span>
        </div>
        <div class="panel1">
            <div class="panel1-list">
                <div class="dash-menu-list1"><a href="JobApplicant.html"><i class="fa fa-angle-right" aria-hidden="true"></i> JobApplicant </a></div>
                <div class="dash-menu-list1"><i class="fa fa-angle-right" aria-hidden="true"></i> Item 1 </div>
            </div>
        </div>*@
                        </div>
                    </div>
                </div>


                <div class="col2" style="width:calc(100vw - 220px)">
                    @RenderBody()

                </div>

            </div>
        </div>
    </div>
    <div id="alert_inquiry_success" class="alert alert-success fixedPosition" style="        display: none;">
        Record save successfully.
    </div>

    <div id="alert_inquiry_error" class="alert alert-danger fixedPosition" style="        display: none;">
        <strong> Record Deleted successfully.</strong>
    </div>
    <div class="dash-foot-bg">
        <div class="copyright">Copyright &copy; @DateTime.Now.Year Aegis Recrutians All rights reserved</div>
    </div>

    @*<script type="text/javascript" src="~/Scripts/custom.min.js"></script>
        <script type="text/javascript" src="~/Scripts/custom.js"></script>*@
</body>
</html>