
@{
    ViewBag.Title = "Applied Jobs";
}
<div id="applicantDetails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content height-calc-100vh-130px">
            <div class="modal-header">
                <h4 class="modal-title modal_text"> Applicant Details</h4>
                @*<button type="button" data-dismiss="modal" class="close"> × </button>*@
            </div>
            <div class="modal-body app-body">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary btn_save">Save</button>*@
                <button type="button" class="btn btn-default btn_Close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="right-side allied-job-main">
    <div class="heading">
        Applied Jobs
        <label class="switch">

            <input id="chk_listFilter" type="checkbox" checked>
            <span class="slider round"></span>
        </label>
        <label style="float:right;"> Filter Active / Deactive : </label>
    </div>

    <div class="data-table style-1">
        <div class="box-table">
            <div class="skill-table">
                <div id="tableDiv">
                    @Html.Action("AppliedJobList", "AppliedJobs")
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        dataTableAppliedJob();
    });

    function dataTableAppliedJob() {
        $('#tableDiv').find('#tblAppliedJob').DataTable({
            language: {
                searchPlaceholder: "Search",
                search: "<button class='btn search-btn2' type='button'><i class='fa fa-search' ></i></button >",
                "paginate": {
                    "previous": "<i class='fa fa-angle-left' aria-hidden='true'></i>",
                    "next": "<i class='fa fa-angle-right' aria-hidden='true'></i>"
                }
            },
            columnDefs: [
                {
                    orderable: false, targets: -1
                }
            ]
        });
    }

    function returnStatus() {
        var status = 'deactive';
        var value = $("#chk_listFilter").prop('checked');
        if (value == true) {
            status = 'active';
        }
        return status;
    }

    $("#chk_listFilter").change(function () {
                var status = returnStatus();
                $.ajax({
                        url: '@Url.Action("AppliedJobList", "AppliedJobs")',
                        data: {
                                Status: status
                        },
                        success: function (data) {
                                $("#tableDiv").html("");
                                $("#tableDiv").html(data);
                                dataTableAppliedJob();
                        }
                });
        });

    $("#tableDiv").on("click", ".detailRow", function () {
        var id = $(this).attr('data-id');
        $.ajax({
            url: '@Url.Action("AddEditAppliedJob", "AppliedJobs")',
            data: {
                Id:id
            },
            success: function (data) {
                $("#applicantDetails").find(".modal-body").html("");
                $("#applicantDetails").find(".modal-body").html(data);
                $("#applicantDetails").find(".modal-body").find('input[type="text"]').attr("disabled", "disabled");
            }
        });
    });

     $("#tableDiv").on("click", ".Deactive", function () {
        var Id = $(this).attr("data-id");    
        $("#preloader").show();
        $.ajax({
            url: '@Url.Action("isDeactive", "AppliedJobs")',
            data: { Id: Id, value: "deactive" },
            success: function (data) {
                $("#tableDiv").html("");
                $("#tableDiv").html(data);
                dataTableAppliedJob();
                $("#preloader").hide();
                $("#alert_inquiry_success").html("Deactive Sussesfully");
                $("#alert_inquiry_success").show();
                setTimeout(function () {
                    $("#alert_inquiry_success").hide();
                }, 2000);
            }
        });
    });

    $("#tableDiv").on("click", ".Active", function () {
        var Id = $(this).attr("data-id");       
        $("#preloader").show();
        $.ajax({
            url: '@Url.Action("isDeactive", "AppliedJobs")',
            data: { Id: Id, value: "active" },
            success: function (data) {
                $("#tableDiv").html("");
                $("#tableDiv").html(data);
                dataTableAppliedJob();
                $("#preloader").hide();
                $("#alert_inquiry_success").html("Active Sussesfully");
                $("#alert_inquiry_success").show();
                setTimeout(function () {
                    $("#alert_inquiry_success").hide();
                }, 2000);
            }
        });
    });

</script>
