@model List<CONSTRUCTION.Areas.Admin.Model.BlogViewModel>

<table id="tblSkillmaster">
        <thead>
                <tr>
                        <th>Blog Title</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th></th>
                </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                        <tr>
                                <td>@item.BlogTitle</td>
                                <td>@item.CategoryName</td>
                                <td>@item.Date</td>
                                <td>
                                        @if (item.isactive == true)
                                        {
                                                <label>Active</label>
                                        }
                                        else
                                        {
                                                <label>Deactive</label>
                                        }
                                </td>
                                <td class="light-gray text-right d-flex align-items-center">
                                        <i class="editRow fa fa-pencil creamy ml-2 pr-2" aria-hidden="true" data-id="@item.Id" data-toggle="modal" data-target="#addSkill"></i>
                                        @if (item.isactive == true)
                                        {
                                                <i class="fa fa-ban fa-ban-css red Deactive" data-id="@item.Id" title="De-Active"></i>
                                        }
                                        else
                                        {
                                                <i class="fa fa-check-square fa-check-css green Active" data-id="@item.Id" title="Active"></i>
                                        }
                                        @*<i class="fa fa-times red ml-2 pr-2" aria-hidden="true"></i>*@
                                </td>
                        </tr>
                }
        </tbody>
</table>